- name: nginx install and start
  hosts: web
  become: yes
  tasks:
  - name: install nginx
    ansible.builtin.package:
      name: nginx
      start: present

  - name: start nginx
    ansible.builtin.service:
      name: nginx
      state: started
      enabled: yes